
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .container {
    width: 90%; /* Adjust based on your preference */
    max-width: 600px; /* Adjust based on your preference */
  }
  
  h1, form, a {
    text-align: center; /* Center text for these elements */
    margin-top: 20px; /* Add space between elements */
  }
  