<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="front/assets/css/button-73.css" />
    <link rel="stylesheet" href="front/assets/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>
    <link rel="stylesheet" href="front/assets/css/profildrop.css" />
    <link rel="stylesheet" href="front/assets/css/doctor.css" />
 <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="front/styles.css" />
    <title>DEVLAB</title>
  </head>
  {% block body %}
  <body>
    <div class="container">
      {% block NAVBAR %}
      <nav>
        <div class="nav__logo">HEALTH ARENA</div>
        <ul class="nav__links">
          <li class="link"><a href="front">Home</a></li>
          <li class="link"><a href="front_doctor">Find a doctor</a></li>
          <li class="link"><a href="Affichefr">Pharmacie</a></li>
          <li class="link"><a href="Afficheor">Ordonnance</a></li>
          <li class="link"><a href="Affichef">Produit</a></li>
          <li class="link"><a href="categorief">categorie</a></li>
           <li class="link"><a href="addF">Rendez vous</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul>
            <li>
            <img src="{{ asset(app.user.img_path) }}" class="profile" style="border-radius: 50%;"/>
            <ul>
                <li class="sub-item">
                    <a href="{{ path('app_front_patient', {'id': app.user.id}) }}">
                      <span class="material-icons-outlined"> manage_accounts </span>
                      <p>Update Profile</p>
                    </a>
                </li>
                <li class="sub-item">
                    <span class="material-icons-outlined"> logout </span>
                    <a href= "/logout"<p>Logout</p> </a>
                </li>
            </ul>
        </li>
    </ul>
  {% else %}
<a href="/login">
    <button class="button-73" role="button">LOGIN</button>
</a>
  {% endif %}
      </nav>
      {% endblock %}
      {% block header %}
      <header class="header">
        <div class="content">
          <h1><span>Get Quick</span><br />Medical Services</h1>
          <p>
            In today's fast-paced world, access to prompt and efficient medical
            services is of paramount importance. When faced with a medical
            emergency or seeking immediate medical attention, the ability to
            receive quick medical services can significantly impact the outcome
            of a situation.
          </p>
          <button class="btn">Get Services</button>
        </div>
        <div class="image">
          <span class="image__bg"></span>
          <img src="front/assets/pictures/header-bg.png" alt="header image" />
          <div class="image__content image__content__1">
            <span><i class="ri-user-3-line"></i></span>
            <div class="details">
              <h4>1520+</h4>
              <p>Active Clients</p>
            </div>
          </div>
          <div class="image__content image__content__2">
            <ul>
              <li>
                <span><i class="ri-check-line"></i></span>
                Get 20% off on every 1st month
              </li>
              <li>
                <span><i class="ri-check-line"></i></span>
                Expert Doctors
              </li>
            </ul>
          </div>
        </div>
      </header>
      {% endblock %}
    </div>
  </body>
  {% endblock %}
</html>
